<h1>Blog Posts</h1>
<h3>Sample Post 1</h3>
<p>This is some sample text for our test blog for this ruby shit man</p>
<hr></hr>
<h3>Sample Post 2</h3>
<p>This is some sample text for our test blog for this ruby shit man</p>
